/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

AzQtComponents--FilteredSearchWidget QLineEdit
{
    qproperty-frame: true;
    width: $SizeSearchDefaultWidth; /* This is just a reasonable default */
}

AzQtComponents--FilteredSearchWidget QPushButton
{
    background-color: transparent;
    border: none;
}

AzQtComponents--FilteredSearchWidget #assetTypeSelector
{
    qproperty-icon: url(:/stylesheet/img/UI20/filter.svg);
}

AzQtComponents--FilterCriteriaButton
{
    padding: 0px;
    border-radius: $RadiusChip;
    border: $BorderThin solid $FilterCriteriaButtonBorderColor;
    background-color: $FilterCriteriaButtonBackgroundColor;
    /* 22 + 2 * 1 = 24 */
    min-height: $SizeSearchFieldHeight;
    max-height: $SizeSearchFieldHeight;
}

AzQtComponents--FilterCriteriaButton QPushButton#closeTag
{
    qproperty-icon: url(:/stylesheet/img/close_x.svg);
    qproperty-iconSize: $SizeGlyphClose $SizeGlyphClose;
    qproperty-flat: true;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    max-height: $SizeGlyph;
    max-width: $SizeGlyph;
    min-width: $SizeGlyph;
}

AzQtComponents--FilterCriteriaButton QLabel
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

AzQtComponents--FilterCriteriaButton #tagIcon
{
    margin-right: $SpacingSearchTagGap;
}

AzQtComponents--FilterCriteriaButton #tagText
{
    margin-left: $SpacingSearchTagGap;
    margin-right: $SpacingSearchTagGap;
}

AzQtComponents--SelectionCountButton
{
    padding: 0px;
    border-radius: $RadiusChip;
    border: $BorderThin solid $FilterCriteriaButtonBorderColor;
    background-color: $FilterCriteriaButtonBackgroundColor;
    /* 22 + 2 * 1 = 24 */
    min-height: $SizeSearchFieldHeight;
    max-height: $SizeSearchFieldHeight;
}

AzQtComponents--FilterTextButton
{
    padding: 0px;
    border-radius: $RadiusChip;
    border: $BorderThin solid $FilterCriteriaButtonBorderColor;
    background-color: $FilterCriteriaButtonBackgroundColor;
    /* 22 + 2 * 1 = 24 */
    min-height: $SizeSearchFieldHeight;
    max-height: $SizeSearchFieldHeight;
}

AzQtComponents--FilterTextButton QPushButton#closeTag
{
    qproperty-icon: url(:/stylesheet/img/close_x.svg);
    qproperty-iconSize: $SizeGlyphClose $SizeGlyphClose;
    qproperty-flat: true;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    max-height: $SizeGlyph;
    max-width: $SizeGlyph;
    min-width: $SizeGlyph;
}

AzQtComponents--FilterTextButton QLabel
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

AzQtComponents--FilterTextButton #tagIcon
{
    margin-right: $SpacingSearchTagGap;
}

AzQtComponents--FilterTextButton #tagText
{
    margin-left: $SpacingSearchTagGap;
    margin-right: $SpacingSearchTagGap;
}

AzQtComponents--SearchTypeSelector QTreeView
{
    border: none;
    outline-style: none;

    show-decoration-selected: 1;
    background-color: transparent;
}

AzQtComponents--SearchTypeSelector QTreeView::item
{
    height: $SizeRowHeight;
}
