/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

/* NOTE: a number of QLineEdit properties are defined in BaseStyleSheet.qss already, along with other text entry controls */

QLineEdit
{
    height: $SizeInputHeight;
    padding-left: $SpacingInputTextPadLeft;
    border-width: $BorderControlEmphasis;
    border-style: solid;
    padding-bottom: $SpacingInputPadBottom;
    padding-top: $SpacingInputPadTop;
}

QLineEdit[HasSearchAction=true]
{
    /* 10px padding already applied: 10 - 6 = 4 */
    padding-left: $SpacingLineEditPadLeftIcon;
}

QTextEdit:disabled,
QPlainText:disabled,
QPlainTextEdit:disabled,
QLineEdit:disabled
{
    background-color: $InputDisabledBackgroundColor;
    color: $DisabledTextColor;
}

QAbstractItemView QLineEdit
{
    qproperty-frame: true;
}

QLineEdit QToolButton
{
    max-width: $SizeGlyph;
    min-width: $SizeGlyph;
    max-height: $SizeGlyph;
    min-height: $SizeGlyph;
}
