/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

QTableView
{
    qproperty-showGrid: false;
}

AzQtComponents--TableView,
QTableView,
QListView,
QTreeView
{
    /* Use opaque colours because the ::branch subcontrol background is painted slightly differently
       to the rest of the row */
    alternate-background-color: $TableViewAlternateRowColor;

    selection-background-color: $TableViewSelectionColor;
    selection-color: $PrimaryTextColor;

    show-decoration-selected: 1;

    border: none;
}

AzQtComponents--TableView::item,
QTableView::item,
QListView::item,
QTreeView::item
{
    height: $SizeRowHeight;

    padding-left: $SpacingTableItemPadLeft; /* QStyle::PM_FocusFrameHMargin (2) + 1 + 4 = 7 */
    border: none; /* A border, background or image is required to actually make use of the padding */
}

AzQtComponents--TableView::branch:selected,
AzQtComponents--TableView::item:selected,
QTableView::item:selected,
QListView::item:selected,
QTreeView::branch:selected,
QTreeView::item:selected
{
    background: $TableViewSelectionColor;
}

AzQtComponents--TableView::branch:hover,
AzQtComponents--TableView::item:hover,
QTableView::item:hover,
QListView::item:hover,
QTreeView::branch:hover,
QTreeView::item:hover
{
    background: $TableViewHoverColor;
}

AzQtComponents--TableView QHeaderView::section,
QTableView QHeaderView::section,
QListView QHeaderView::section,
QTreeView QHeaderView::section
{
    height: $SizeRowHeight;

    background: $TableViewHeaderColor;
    border: none;

    font-size: $FontSize;
    font-style: normal;

    padding-left: $SpacingTableHeaderPadLeft;
}

/* Undo QAbstractItemView::indicator rule in CheckBox.qss */
QTreeView::indicator
{
    margin: 0px;
    width: $SizeGlyph;
    height: $SizeGlyph;
    margin-left: $SpacingTreeIndicatorMarginLeft;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    image: url(:/TreeView/closed.svg);
    padding: $SpacingTreeBranchClosed;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    image: url(:/TreeView/open.svg);
    padding: $SpacingTreeBranchOpen;
}

QTreeView::item:disabled
{
    color: $TableViewDisabledItemColor;
}

AzQtComponents--TableView::branch:open:has-children,
AzQtComponents--TableView::branch:closed:has-children
{
    image: none;
}
