AzQtComponents--TabWidget > AzQtComponents--TabWidgetActionToolBarContainer
{
    background: $SeparatorColor;
    min-height: $SizeTabBarHeight;
    margin: 0;
    margin-bottom: $SpacingActionToolBarBottom;
}

AzQtComponents--TabWidget.Secondary > AzQtComponents--TabWidgetActionToolBarContainer
{
    background: transparent;
}

AzQtComponents--TabWidgetActionToolBar
{
    spacing: 0px;
}

AzQtComponents--TabWidgetActionToolBar QToolButton,
AzQtComponents--TabWidgetActionToolBar QToolButton:hover,
AzQtComponents--TabWidgetActionToolBar QToolButton:pressed
{
    background: transparent;
}

AzQtComponents--DockTabWidget > AzQtComponents--TabWidgetActionToolBarContainer
{
    background: $SeparatorColor;
    min-height: $SizeTabBarHeight;
    margin: 0;
    margin-bottom: $SpacingActionToolBarBottom;
}
