/*
 * Copyright (c) Contributors to the Open 3D Engine Project.
 * For complete copyright and license terms please see the LICENSE at the root of this distribution.
 *
 * SPDX-License-Identifier: Apache-2.0 OR MIT
 *
 */

AzQtComponents--VectorElement QLabel
{
    margin-top: $SpacingControlMargin;
    margin-bottom: $SpacingControlMargin;
    border-top-left-radius: $RadiusInput;
    border-bottom-left-radius: $RadiusInput;
    text-align: center;
}

AzQtComponents--VectorElement QSpinBox,
AzQtComponents--VectorElement QDoubleSpinBox,
AzQtComponents--VectorElement QSpinBox:hover,
AzQtComponents--VectorElement QDoubleSpinBox:hover,
AzQtComponents--VectorElement QSpinBox:focus,
AzQtComponents--VectorElement QDoubleSpinBox:focus
{
    margin-left: 0px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

AzQtComponents--VectorElement QSpinBox:hover,
AzQtComponents--VectorElement QDoubleSpinBox:hover
{
    height: $SizeVectorHoverHeight;
}

AzQtComponents--VectorElement[Coordinate="X"] QLabel
{
    background-color: $VectorInputXColor;
}

AzQtComponents--VectorElement[Coordinate="Y"] QLabel
{
    background-color: $VectorInputYColor;
}

AzQtComponents--VectorElement[Coordinate="Z"] QLabel
{
    background-color: $VectorInputZColor;
}

AzQtComponents--VectorElement[Coordinate="W"] QLabel
{
    background-color: $VectorInputWColor;
}
